@keyframes verticalScroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.auto-vertical-scroll {
  animation: verticalScroll 25s linear infinite;
}

.auto-vertical-scroll:hover {
  animation-play-state: paused;
}
